---
import Layout from '../layouts/Layout.astro';
import Presentation from '../components/Presentation.astro';
import Educacion from '../components/Educacion.astro';

---

<Layout title="My Curriculum">
	<main>
		<Presentation></Presentation>	
		<Educacion></Educacion>
	</main>
</Layout>



