---
import Layout from '../layouts/Layout.astro';
---

<Layout title="My Curriculum">
    <main>
        <div class="education">

            <h1>Education</h1>

            <div class="card__education">
                <h3>Technologist from the Surcolombiana University, Neiva</h3>
                <h6>January 2022 - June 2024</h6>
                <p>Graduated with a certificate in Internet of Things (IOT) and research seedbed from the South Colombian University</p>
            </div>

            <div class="card__education">
                <h3>Basic front-end fundamentals at One Oracle Next Education, virtual</h3>
                <h6>May 2023 - Octubre 2024</h6>
            </div>

            <div class="card__education">
                <h3>Module 1 at the Technological University of Pereira TIC Mission, virtual</h3>
                <h6>July 2021 - October 2021</h6>
            </div>

            <div class="card__education">
                <h3>Module 2 at the Technological University of Pereira TIC Mission, virtual</h3>
                <h6>October 2021 - December 2021</h6>
            </div>

            <div class="card__education">
                <h3>Video game development at the open and distance university (UNAD)</h3>
                <h6>April 2018</h6>
            </div>

        </div>

        <div class="about_me">
            <h1>Details</h1>
            <div class="details">
                <p>Neiva Colombian municipality, capital of the department of Huila.</p>
                <p>3185753007</p>
                <a href=""><h4>serguito2003@gmail.com</h4></a>
            </div>
        
            <div class="skills">
                <h1>SKILLS</h1>

                <h2>GIT</h2>
                <svg width="200" height="20" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20%" height="100%" fill="#204683" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="20%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="40%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="60%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="80%" stroke="#000000" stroke-width="1" />
                </svg>
                <h2>HTML5</h2>
                <svg width="200" height="20" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20%" height="100%" fill="#204683" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="20%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="40%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="60%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="80%" stroke="#000000" stroke-width="1" />
                </svg>
                <h2>CSS3</h2>
                <svg width="200" height="20" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20%" height="100%" fill="#204683" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="20%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="40%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="60%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="80%" stroke="#000000" stroke-width="1" />
                </svg>
                <h2>C++</h2>
                <svg width="200" height="20" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20%" height="100%" fill="#204683" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="20%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="40%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="60%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="80%" stroke="#000000" stroke-width="1" />
                </svg>
                <h2>PYTHON</h2>
                <svg width="200" height="20" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20%" height="100%" fill="#204683" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="20%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="40%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="60%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="80%" stroke="#000000" stroke-width="1" />
                </svg>
                <h2>JAVASCRIP</h2>
                <svg width="200" height="20" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20%" height="100%" fill="#204683" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="20%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="40%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="60%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="80%" stroke="#000000" stroke-width="1" />
                </svg>
                <h2>ASTRO</h2>
                <svg width="200" height="20" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20%" height="100%" fill="#204683" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="20%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="40%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="60%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="80%" stroke="#000000" stroke-width="1" />
                </svg>
                <h2>REACT</h2>
                <svg width="200" height="20" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20%" height="100%" fill="#204683" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="20%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="40%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="60%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="80%" stroke="#000000" stroke-width="1" />
                </svg>
                <h2>ANGULAR</h2>
                <svg width="200" height="20" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20%" height="100%" fill="#204683" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="20%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="40%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="60%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="80%" stroke="#000000" stroke-width="1" />
                </svg>
            </div>

            <div class="languages">
                <h1>Languages</h1>
                <h2>SPANISH</h2>
                <svg width="200" height="20" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20%" height="100%" fill="#204683" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="20%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="40%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="60%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="80%" stroke="#000000" stroke-width="1" />
                </svg>
                <h2>ENGLISH</h2>
                <svg width="200" height="20" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20%" height="100%" fill="#204683" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="20%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#204683" x="40%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="60%" stroke="#000000" stroke-width="1" />
                    <rect width="20%" height="100%" fill="#3a5e96" x="80%" stroke="#000000" stroke-width="1" />
                </svg>
            </div>
        </div>
    </main>
    
    
</Layout>

<style>

main {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
}

main h1, main h6, main h4{
    color: #204683;
    font-size: 1.5rem;
}

main h6{
    font-size: 0.8em;
}
p{
        color: #333;
        margin-bottom: 10px;
        font-size: 1em; 
}

.education h1, .education h3, .education h6, .education p{
   font-size: 1.3rem;
}
</style>
